<div class="jumbotron">
  <h2>Welcome to Captcha!</h2>
  <p class="lead">Filling up some space so this page doesn't look so empty!</p>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>Captcha</h4>
    <p><small class="text-muted">Type your captcha!</small></p>

    <ul class="list-group mt-5" id="captchas"></ul>

    <form class="form-inline" id="new-captcha">
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Captcha" id="captcha-content" max="99999999999999999999" />
      </div>
      <button class="btn btn-outline-success" type="submit" id="submit-captcha" disabled>Solve</button>
    </form>
  </div>
</div>
